# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config CPU_CC2538
    bool
    default y
    select HAS_periph_cpuid
    select HAS_periph_gpio
    select HAS_periph_gpio_irq
    select HAS_periph_hwrng
    select HAS_periph_uart_modecfg
    select HAS_puf_sram
    select CPU_CORTEXM_COMMON
