# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config CPU_ARM7_COMMON
    select HAS_arch_32bit
    select HAS_arch_arm
    select HAS_arch_arm7
    select HAS_cpp
    select HAS_periph_pm
    select HAS_puf_sram
