# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config HAS_mrf24j40
    bool

menuconfig COMPONENT_mrf24j40
    bool "MRF24J40 based drivers"
    default y if HAS_mrf24j40 && NETDEV_DEFAULT
    select HAS_HAS_NETDEV_IEEE802154

