CONFIG_LWM2M_SERVER_URI="coap://[fe80::6098:a7ff:fed9:3cea]:5684"
CONFIG_KCONFIG_USEPKG_TINYDTLS=y
CONFIG_DTLS_PEER_MAX=2
CONFIG_DTLS_MAX_BUF=1024
CONFIG_KCONFIG_USEPKG_WAKAAMA=y
CONFIG_LWM2M_WITH_LOGS=n
CONFIG_LWM2M_CLIENT_C2C=y
CONFIG_LWM2M_CLIENT_SECURITY_PSK=y

# uncomment to use bootstrap server
CONFIG_LWM2M_BOOTSTRAP=n # enable bootstrap support in package
CONFIG_LWM2M_SERVER_IS_BOOTSTRAP=n # indicate that the security instante belongs to a bootstrap server (app configuration)
