# Copyright (c) 2021 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menu "Application configuration"

menu "Server configuration"

config LWM2M_SERVER_URI
    string "LwM2M Server URI to register/bootstrap with"
    default "coap://[fd00:dead:beef::1]"
    help
        The host part of the URI MUST be a valid IPv6 address.

config LWM2M_SERVER_SHORT_ID
    int "Server Short ID"
    default 1
    range 1 65534

config PSK_ID
    string "PSK Identity"
    default "Client_Identity"

config PSK_KEY
    string "PSK Key"
    default "ThisIsRIOT!"

config LWM2M_SERVER_IS_BOOTSTRAP
    bool "The server is a Bootstrap-Server"
    depends on LWM2M_BOOTSTRAP

endmenu

menu "Client configuration"

config LWM2M_CLIENT_URI
    string "LwM2M client URI to test C2C communication with"
    default "coap://[fd00:dead:beef::1]"
    help
        The host part of the URI MUST be a valid IPv6 address.

config LWM2M_CLIENT_SHORT_ID
    int "Client Short ID"
    default 1
    range 1 65534

choice
    bool "Security mode"

config LWM2M_CLIENT_SECURITY_NONE
    bool "None"

config LWM2M_CLIENT_SECURITY_PSK
    bool "Pre-Shared Keys"

endchoice

if LWM2M_CLIENT_SECURITY_PSK

config LWM2M_CLIENT_PSK_ID
    string "PSK Identity"
    default "C2C_Identity"

config LWM2M_CLIENT_PSK_KEY
    string "PSK Key"
    default "C2CRocks!"

endif

endmenu

endmenu # Application configuration
