# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config HAS_w5100
    bool

menuconfig COMPONENT_w5100
    bool "W5100 ethernet driver"
    default y if HAS_w5100
    select HAS_HAS_NETDEV_ETHERNET

