# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config HAS_hdc1000
    bool

menuconfig COMPONENT_hdc1000
    bool "HDC1000 Humidity and Temperature Sensor"
    default y if HAS_hdc1000 && SAUL_DEFAULT

