# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config CPU_ATMEGA2560
    select HAS_atmega_pcint1
    select HAS_atmega_pcint2
    select CPU_ATMEGA_COMMON
