config HAS_sx1272
    bool
    select HAS_sx127x

config HAS_sx1276
    bool
    select HAS_sx127x

config HAS_sx127x
    bool

menuconfig COMPONENT_sx127x
    bool "SX127x radio support"
    default y if DEFAULT_NETDEV && HAS_sx127x
    select HAS_LORA

if COMPONENT_sx127x
    choice
        bool "Select device model"
        default COMPONENT_sx1276 if HAS_sx1276
        default COMPONENT_sx1272 if HAS_sx1272
        config COMPONENT_sx1276
            bool "SX1276"

        config COMPONENT_sx1272
            bool "SX1272"
    endchoice

endif # COMPONENT_sx127x
