# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config MOD_TEST_UTILS_INTERACTIVE_SYNC
    bool "Enable interactive sync for tests"
    depends on MOD_STDIN
    depends on TEST_KCONFIG
