# Copyright (c) 2019 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#
mainmenu "RIOT Configuration"

orsource "boards/$(BOARD)/Kconfig"
rsource "cpu/$(CPU)/Kconfig"
rsource "cpu/Kconfig"

config COMPONENT_cpu
    bool
    default y

config COMPONENT_board
    bool
    default y

config COMPONENT_auto_init
    bool
    default y

config COMPONENT_sys
    bool
    default y

config COMPONENT_core
    bool
    default y

config COMPONENT_core_msg
    bool
    default y

menu "Board"
config NETDEV_DEFAULT
    bool "Enable default network devices"
    help
        Enable support for all network devices present in the board
config SAUL_DEFAULT
    bool "Enable default sensor and actuator devices"
    help
        Enable support for all sensor and actuator devices present in the board
endmenu # Defaults

# For now, get used modules as macros from this file (see kconfig.mk)
#osource "$(KCONFIG_GENERATED_DEPENDENCIES)"

rsource "drivers/Kconfig"
rsource "sys/Kconfig"
rsource "sys/net/Kconfig"
rsource "tests/Kconfig"

menu "Timers"
rsource "sys/xtimer/Kconfig"
endmenu # Timers

# The application may declare new symbols as well
osource "$(APPDIR)/Kconfig"

comment "RIOT is in a migration phase."
comment "Some configuration options may not be here. Use CFLAGS instead."
