# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config HAS_shtc1
    bool

menuconfig COMPONENT_shtc1
    bool "SHTC1 Temperature and humidity sensor"
    default y if HAS_shtc1 && SAUL_DEFAULT

