# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config HAS_at30tse75x
    bool

menuconfig COMPONENT_at30tse75x
    bool "AT30TSE75x temperature sensor with EEPROM"
    default y if HAS_at30tse75x

