config HAS_periph_adc
    default y

config HAS_periph_gpio
    default y

config HAS_periph_gpio_irq
    default y

config HAS_periph_spi
    default y

config HAS_periph_timer
    default y

config HAS_periph_uart
    default y

