# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config CPU_MIPS_PIC32MZ
    bool
    default y
    select HAS_periph_hwrng
    select CPU_MIPS_PIC32_COMMON

source "$(RIOTCPU)/mips_pic32_common/Kconfig"
