# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config CPU_MIPS32R2_COMMON
    bool
    default y
    select HAS_arch_32bit
    select HAS_arch_mips32r2
    select HAS_cpp
    select HAS_periph_pm
