menu "Application"

menuconfig KCONFIG_APP_MSG_1
    bool "Configure message 1"
    default y
    help
        "This will enable configuring the first message via Kconfig"

if KCONFIG_APP_MSG_1

config APP_MSG_1_TEXT
    string "Message 1 text"
    default "Message 1 defined in Kconfig file"

endif # KCONFIG_APP_MSG_1

menuconfig APP_MSG_2
    bool "Message 2"
    help
        "Activate printing the second message"

if APP_MSG_2

config APP_MSG_2_TEXT
    string "Second message to print"
    default "Default msg 2"

endif # APP_MSG_2

endmenu # Application
