menuconfig KCONFIG_MODULE_NANOCOAP
    bool "Configure Nanocoap" if "$(module-nanocoap)" != ""
    help
        Enable this to configure Nanocoap module using Kconfig.

if KCONFIG_MODULE_NANOCOAP

config NANOCOAP_NOPTS_MAX
    int "Maximum number of options in a message"
    default 16

config NANOCOAP_URI_MAX
    int "Maximum length of URI"
    default 64
    help
        Maximum length of a resource path string read from or written to a
        message.

config NANOCOAP_BLOCK_SIZE_EXP_MAX
    int "Maximum size for blockwise transfer (power of 2)"
    default 6

config NANOCOAP_QS_MAX
    int "Maximum length of query string"
    depends on MODULE_GCOAP
    default 64

endif # KCONFIG_MODULE_NANOCOAP
