# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config HAS_tsl4531x
    bool

menuconfig COMPONENT_tsl4531x
    bool "TSL4531x Illuminance sensor"
    default y if HAS_tsl4531x && SAUL_DEFAULT

