# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config CPU_CC13X2
    bool
    default y
    select CPU_CORTEXM_COMMON

source "$(RIOTCPU)/cortexm_common/Kconfig"
