CONFIG_HAS_periph_adc=y
CONFIG_HAS_periph_i2c=y
CONFIG_HAS_periph_rtc=y
CONFIG_HAS_periph_rtt=y
CONFIG_HAS_periph_spi=y
CONFIG_HAS_periph_timer=y
CONFIG_HAS_periph_uart=y
CONFIG_HAS_periph_uart_modecfg=y
CONFIG_BOARD_SLSTK3402A=y
CONFIG_COMPONENT_boards_common_silabs=y
CONFIG_CPU_EFM32=y
CONFIG_CPU_EFM32_PG12B=y
CONFIG_COMPONENT_gecko_sdk=y
CONFIG_COMPONENT_gecko_sdk_emlib=y
CONFIG_COMPONENT_gecko_sdk_emlib_extra=y
CONFIG_COMPONENT_cpu_efm32pg12b=y
CONFIG_COMPONENT_cortexm_common=y
CONFIG_COMPONENT_cortexm_common_periph=y
CONFIG_CPU_CORTEXM_COMMON=y
CONFIG_HAS_arch_32bit=y
CONFIG_HAS_arch_arm=y
CONFIG_HAS_arch_cortexm=y
CONFIG_HAS_arch_efm32=y
CONFIG_HAS_cpp=y
CONFIG_HAS_cpu_check_address=y
CONFIG_HAS_periph_cpuid=y
CONFIG_HAS_periph_flashpage=y
CONFIG_HAS_periph_flashpage_raw=y
CONFIG_HAS_periph_gpio=y
CONFIG_HAS_periph_gpio_irq=y
CONFIG_HAS_periph_hwrng=y
CONFIG_HAS_periph_pm=y
CONFIG_HAS_HW_HASH_SHA1=y
CONFIG_HAS_HW_HASH_SHA256=y
CONFIG_HAS_HW_AES=y
CONFIG_COMPONENT_periph=y
CONFIG_COMPONENT_periph_common=y
CONFIG_COMPONENT_periph_gpio=y
CONFIG_COMPONENT_periph_gpio_irq=y
CONFIG_COMPONENT_periph_spi=y
CONFIG_COMPONENT_periph_cpuid=y
CONFIG_COMPONENT_periph_hwrng=y
CONFIG_COMPONENT_periph_pm=y
CONFIG_COMPONENT_periph_uart=y
CONFIG_COMPONENT_newlib=y
CONFIG_COMPONENT_newlib_nano=y
CONFIG_COMPONENT_newlib_syscalls_default=y
CONFIG_COMPONENT_cpu=y
CONFIG_COMPONENT_board=y
CONFIG_COMPONENT_auto_init=y
CONFIG_COMPONENT_sys=y
CONFIG_COMPONENT_core=y
CONFIG_COMPONENT_core_msg=y

#
# Board
#
# CONFIG_NETDEV_DEFAULT is not set
# CONFIG_SAUL_DEFAULT is not set
# end of Board

#
# Drivers
#

#
# Actuator devices
#
# CONFIG_COMPONENT_apa102 is not set
# CONFIG_COMPONENT_dsp0401 is not set
# CONFIG_COMPONENT_dynamixel is not set
# CONFIG_COMPONENT_feetech is not set
# CONFIG_COMPONENT_grove_ledbar is not set
# CONFIG_COMPONENT_hd44780 is not set
# CONFIG_COMPONENT_lpd8808 is not set
# CONFIG_COMPONENT_motor_driver is not set
# CONFIG_COMPONENT_my9221 is not set
# CONFIG_COMPONENT_pca9685 is not set
# CONFIG_COMPONENT_pcd8544 is not set
# CONFIG_COMPONENT_rgbled is not set
# CONFIG_COMPONENT_servo is not set
# CONFIG_COMPONENT_uart_half_duplex is not set
# CONFIG_COMPONENT_ws281x is not set
# end of Actuator devices

#
# Network devices
#

#
# Netdev interfaces
#
# CONFIG_COMPONENT_netdev_ieee802154 is not set
# CONFIG_COMPONENT_netdev_eth is not set
# CONFIG_COMPONENT_netdev_layer is not set
# CONFIG_COMPONENT_netdev_tap is not set
# end of Netdev interfaces

#
# CAN devices
#
# CONFIG_COMPONENT_can_trx is not set
# CONFIG_COMPONENT_ncv7356 is not set
# CONFIG_COMPONENT_tja1042 is not set
# end of CAN devices

# CONFIG_COMPONENT_at86rf2xx is not set
# CONFIG_COMPONENT_ata8520e is not set
# CONFIG_COMPONENT_cc110x is not set
# CONFIG_COMPONENT_cc2420 is not set
# CONFIG_COMPONENT_dose is not set
# CONFIG_COMPONENT_enc28j60 is not set
# CONFIG_COMPONENT_encx24j600 is not set
# CONFIG_COMPONENT_ethos is not set
# CONFIG_COMPONENT_kw2xrf is not set
# CONFIG_COMPONENT_mrf24j40 is not set
# CONFIG_COMPONENT_pn532 is not set
# CONFIG_COMPONENT_rn2xx3 is not set
# CONFIG_COMPONENT_slipdev is not set
# CONFIG_COMPONENT_stm32_eth is not set
# CONFIG_COMPONENT_sx127x is not set
# CONFIG_COMPONENT_w5100 is not set
# CONFIG_COMPONENT_xbee is not set
# end of Network devices

#
# Peripheral drivers
#
CONFIG_COMPONENT_periph_timer=y
# end of Peripheral drivers

#
# Power supply devices
#
# CONFIG_COMPONENT_tps6274x is not set
# end of Power supply devices

#
# Sensor devices
#
# CONFIG_COMPONENT_ad7746 is not set
# CONFIG_COMPONENT_adcxx1c is not set
# CONFIG_COMPONENT_ads101x is not set
# CONFIG_COMPONENT_adt7310 is not set
# CONFIG_COMPONENT_adxl345 is not set
# CONFIG_COMPONENT_at30tse75x is not set
# CONFIG_COMPONENT_bh1750fvi is not set
# CONFIG_COMPONENT_bmp180 is not set
# CONFIG_COMPONENT_bmx055 is not set
# CONFIG_COMPONENT_bmx280 is not set
# CONFIG_COMPONENT_ccs811 is not set
# CONFIG_COMPONENT_dcf77 is not set
# CONFIG_COMPONENT_dht is not set
# CONFIG_COMPONENT_ds1307 is not set
# CONFIG_COMPONENT_ds18 is not set
# CONFIG_COMPONENT_ds3234 is not set
# CONFIG_COMPONENT_ds75lx is not set
# CONFIG_COMPONENT_fxos8700 is not set
# CONFIG_COMPONENT_hdc1000 is not set
# CONFIG_COMPONENT_hih6130 is not set
# CONFIG_COMPONENT_hts221 is not set
# CONFIG_COMPONENT_ina2xx is not set
# CONFIG_COMPONENT_ina3221 is not set
# CONFIG_COMPONENT_io1_xplained is not set
# CONFIG_COMPONENT_isl29020 is not set
# CONFIG_COMPONENT_isl29125 is not set
# CONFIG_COMPONENT_itg320x is not set
# CONFIG_COMPONENT_jc42 is not set
# CONFIG_COMPONENT_l3g4200d is not set
# CONFIG_COMPONENT_lc709203f is not set
# CONFIG_COMPONENT_lis2dh12 is not set
# CONFIG_COMPONENT_lis3dh is not set
# CONFIG_COMPONENT_lis3mdl is not set
# CONFIG_COMPONENT_lpsxxx is not set
# CONFIG_COMPONENT_lsm303dlhc is not set
# CONFIG_COMPONENT_lsm6dsl is not set
# CONFIG_COMPONENT_ltc4150 is not set
# CONFIG_COMPONENT_mag3110 is not set
# CONFIG_COMPONENT_mma7660 is not set
# CONFIG_COMPONENT_mma8x5x is not set
# CONFIG_COMPONENT_mpl3115a2 is not set
# CONFIG_COMPONENT_mpu9x50 is not set
# CONFIG_COMPONENT_mq3 is not set
# CONFIG_COMPONENT_opt3001 is not set
# CONFIG_COMPONENT_ph_oem is not set
# CONFIG_COMPONENT_pir is not set
# CONFIG_COMPONENT_pulse_counter is not set
# CONFIG_COMPONENT_qmc5883l is not set
# CONFIG_COMPONENT_sds011 is not set
# CONFIG_COMPONENT_sht1x is not set
# CONFIG_COMPONENT_sht2x is not set
# CONFIG_COMPONENT_sht3x is not set
# CONFIG_COMPONENT_shtc1 is not set
# CONFIG_COMPONENT_srf02 is not set
# CONFIG_COMPONENT_srf04 is not set
# CONFIG_COMPONENT_srf08 is not set
# CONFIG_COMPONENT_si114x is not set
# CONFIG_COMPONENT_si70xx is not set
# CONFIG_COMPONENT_tcs37727 is not set
# CONFIG_COMPONENT_tmp00x is not set
# CONFIG_COMPONENT_tsl2561 is not set
# CONFIG_COMPONENT_tsl4531x is not set
# CONFIG_COMPONENT_vcnl40x0 is not set
# CONFIG_COMPONENT_veml6070 is not set
# end of Sensor devices

#
# Soft Peripheral interface
#
# CONFIG_COMPONENT_soft_spi is not set
# end of Soft Peripheral interface

#
# Storage devices
#
# CONFIG_COMPONENT_mtd is not set
# CONFIG_COMPONENT_mtd_flashpage is not set
# CONFIG_COMPONENT_mtd_sdcard is not set
# CONFIG_COMPONENT_mtd_spi_nor is not set
# CONFIG_COMPONENT_nvram is not set
# CONFIG_COMPONENT_sdcard_spi is not set
# end of Storage devices

#
# Others
#
# CONFIG_COMPONENT_at is not set
# CONFIG_COMPONENT_ili9341 is not set
# end of Others
# end of Drivers

#
# System
#

#
# Utils
#
# CONFIG_COMPONENT_bitfield is not set
CONFIG_COMPONENT_tsrb=y
CONFIG_COMPONENT_isrpipe=y
CONFIG_COMPONENT_fmt=y
CONFIG_COMPONENT_luid=y
CONFIG_COMPONENT_od=y
CONFIG_COMPONENT_iolist=y
# end of Utils

#
# Crypto and hashes
#
# CONFIG_COMPONENT_random is not set

#
# Hashes
#
CONFIG_HASHES_SHA1=y
CONFIG_COMPONENT_periph_hash_sha1=y
# CONFIG_COMPONENT_hashes_sha1 is not set
CONFIG_HASHES_SHA256=y
CONFIG_COMPONENT_periph_hash_sha256=y
# CONFIG_COMPONENT_hashes_sha256 is not set
# end of Hashes

#
# Crypto
#
CONFIG_CRYPTO_AES=y
CONFIG_COMPONENT_periph_crypto_aes=y
# CONFIG_COMPONENT_crypto_aes is not set
# end of Crypto

CONFIG_COMPONENT_crypto=y
# end of Crypto and hashes

CONFIG_COMPONENT_shell=y
CONFIG_COMPONENT_shell_commands=y
CONFIG_COMPONENT_gnrc_netif_cmd_lora=y

#
# Event handlers
#
# CONFIG_COMPONENT_evtimer is not set
# end of Event handlers

CONFIG_COMPONENT_stdin=y
CONFIG_COMPONENT_stdio_uart=y
CONFIG_COMPONENT_stdio_uart_rx=y

#
# Boot configurations
#
# end of Boot configurations
# end of System

# CONFIG_NETWORKING is not set

#
# Tests
#
# CONFIG_COMPONENT_test_utils_interactive_sync is not set
# CONFIG_COMPONENT_embunit is not set
# end of Tests

#
# Timers
#
CONFIG_COMPONENT_xtimer=y
# end of Timers

#
# RIOT is in a migration phase.
#

#
# Some configuration options may not be here. Use CFLAGS instead.
#
