# Copyright (c) 2019 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

config GNRC_CORE
    bool
    default y
    depends on COMPONENT_gnrc_netreg
    depends on COMPONENT_gnrc_pkt
    depends on COMPONENT_gnrc_pktbuf
    depends on COMPONENT_gnrc_netapi

menu "Configure GNRC Network stack"

menu "GNRC Core"
config COMPONENT_gnrc_neterr
    bool "Enable GNRC error reports"

config COMPONENT_gnrc_pktdump
    bool "Enable GNRC pktdump"
    default y

config COMPONENT_gnrc_pkt
    bool "Enable GNRC pkt"
    default y

config COMPONENT_gnrc_netreg
    bool "Enable GNRC netreg"
    default y

rsource "netapi/Kconfig"
rsource "pktbuf/Kconfig"
endmenu # GNRC Core

rsource "link_layer/lorawan/Kconfig"
rsource "network_layer/ipv6/blacklist/Kconfig"
rsource "network_layer/ipv6/whitelist/Kconfig"
rsource "network_layer/ipv6/Kconfig"
rsource "netif/Kconfig"
rsource "network_layer/sixlowpan/Kconfig"
rsource "network_layer/icmpv6/Kconfig"
rsource "transport_layer/udp/Kconfig"


endmenu # GNRC Network Stack
