if "$(module-atmega-common)" != ""

# Thread stack sizes defaults
config THREAD_STACKSIZE_DEFAULT
    default 512

config THREAD_EXTRA_STACKSIZE_PRINTF
    default 128

# By default THREAD_STACKSIZE_DEFAULT + THREAD_EXTRA_STACKSIZE_PRINTF
config THREAD_STACKSIZE_MAIN
    default 640

config THREAD_STACKSIZE_IDLE
    default 128

endif
