menuconfig KCONFIG_SCHED
    bool "Configure scheduler"

if KCONFIG_SCHED

config SCHED_PRIO_LEVELS
    int "Number of thread priority levels"
    default 16

config CONFIG_MAXTHREADS
    int "Maximum number of threads to be scheduled"
    default 32

endif # KCONFIG_SCHED
