# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config HAS_lis2dh12
    bool

menuconfig COMPONENT_lis2dh12
    bool "LIS2DH12 Accelerometer"
    default y if HAS_lis2dh12 && SAUL_DEFAULT

