/dts-v1/;
#include "dts/arm/stm32/stm32l1/stm32l152re/stm32l152re.dtsi"

/ {
    chosen {
        riot,uart0 = <&usart1>;
        riot,uart1 = <&usart2>;
        riot,spi0 = <&spi1>;
        riot,i2c0 = <&i2c1>;
    };
};

&pinctrl {
    my_usart1_pinctrl: usartpinctrl@a10a9 {
        rx = <&gpioa 15 7>;
        tx = <&gpioa 9 7>;
    };
    my_usart2_pinctrl: usartpinctrl@a3a2 {
        rx = <&gpioa 3 7>;
        tx = <&gpioa 2 7>;
    };
    my_spi1_pinctrl: spipinctrl@a4a5a6a7 {
        cs =   <&gpioa 4 5>;
        sck =  <&gpioa 5 5>;
        miso = <&gpioa 6 5>;
        mosi = <&gpioa 7 5>;
    };
    my_i2c1_pinctrl: i2cpinctrl@b7b6 {
        sda =   <&gpiob 9 4>;
        scl =  <&gpiob 8 4>;
    };
};

&usart1 {
    status = "okay";
    pinctrl = <&my_usart1_pinctrl>;
};

&usart2 {
    status = "okay";
    pinctrl = <&my_usart2_pinctrl>;
};

&spi1 {
    status = "okay";
    pinctrl = <&my_spi1_pinctrl>;
};

&i2c1 {
    status = "okay";
    pinctrl = <&my_i2c1_pinctrl>;
};
