# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config HAS_cc2420
    bool

menuconfig COMPONENT_cc2420
    bool "CC2420 radio driver"
    default y if HAS_cc2420 && NETDEV_DEFAULT
    select HAS_HAS_NETDEV_IEEE802154

