# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config COMPONENT_gnrc_netif_lorawan
    bool "Enable GNRC LoRaWAN netif interface"
    depends on COMPONENT_gnrc_lorawan
    depends on COMPONENT_gnrc_netif
