# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config HAS_rn2xx3
    bool

menuconfig COMPONENT_rn2xx3
    bool "RN2483/RN2903 LoRa module driver"
    default y if HAS_rn2xx3

