# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config HAS_stm32_eth
    bool

menuconfig COMPONENT_stm32_eth
    bool "STM32 Ethernet"
    default y if HAS_stm32_eth
    select HAS_HAS_NETDEV_ETHERNET

