# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config HAS_ccs811
    bool

menuconfig COMPONENT_ccs811
    bool "CCS811 digital Gas Sensor"
    default y if HAS_ccs811 && SAUL_DEFAULT

