# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config HAS_tja1042
    bool

menuconfig COMPONENT_tja1042
    bool "TJA1042"
    default y if HAS_tja1042
    select HAS_HAS_NETDEV_CAN

