config HAS_periph_adc
    default y

config HAS_periph_i2c
    default y

config HAS_periph_rtc
    default y

config HAS_periph_rtt
    default y

config HAS_periph_spi
    default y

config HAS_periph_timer
    default y

config HAS_periph_uart
    default y

config HAS_periph_uart_modecfg
    default y

config BOARD_SLSTK3402A
    bool
    default y
    select CPU_EFM32_PG12B
    select COMPONENT_boards_common_silabs
    select COMPONENT_silabs_aem
    select COMPONENT_silabs_bc

source "$(RIOTBOARD)/common/silabs/Kconfig"
