# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config COMPONENT_stm32_common
    bool

config COMPONENT_stm32_common_periph
    bool

config COMPONENT_pm_layered
    default y if CPU_STM32_COMMON

config COMPONENT_periph_uart
    depends on COMPONENT_pm_layered

config CPU_STM32_COMMON
    bool
    select HAS_periph_cpuid
    select HAS_periph_gpio
    select HAS_periph_gpio_irq
    select HAS_puf_sram
    select HAS_periph_uart_modecfg
    select HAS_periph_wdt
    select COMPONENT_stm32_common
    select COMPONENT_stm32_common_periph
    select CPU_CORTEXM_COMMON
