# CONFIG_LWM2M_SERVER_URI="coap://[fe80::6098:a7ff:fed9:3cea]" # port inferred from security mode when undefined
CONFIG_KCONFIG_USEPKG_TINYDTLS=y
CONFIG_DTLS_PEER_MAX=2
CONFIG_DTLS_MAX_BUF=1024
CONFIG_KCONFIG_USEPKG_WAKAAMA=y
CONFIG_LWM2M_WITH_LOGS=n
CONFIG_LWM2M_CLIENT_C2C=y
CONFIG_DTLS_DEBUG=n

# uncomment to use bootstrap server
# CONFIG_LWM2M_BOOTSTRAP=y # enable bootstrap support in package
# CONFIG_LWM2M_SERVER_IS_BOOTSTRAP=y # indicate that the security instante belongs to a bootstrap server (app configuration)

CONFIG_LWM2M_CHECK_ACCESS_RIGHTS=n
CONFIG_LWM2M_CLIENT_CHECK_ACCESS_RIGHTS=n

#CONFIG_LWM2M_SERVER_URI="coap://[2001:67c:254:b0b0::c0de]"
CONFIG_LWM2M_SERVER_URI="coap://[2001:660:5307:3000::b2]"
CONFIG_KCONFIG_USEMODULE_GNRC_IPV6_NIB=y
CONFIG_GNRC_IPV6_NIB_SLAAC=y
CONFIG_LWM2M_HEAP_TRACE=n

CONFIG_KCONFIG_USEMODULE_IEEE802154=y
CONFIG_IEEE802154_DEFAULT_CHANNEL=15
