# This client configuration, also used as endpointName
CONFIG_LWM2M_DEVICE_NAME="riot:client:0001"

# This is the requester client
CONFIG_CLIENT_TYPE_REQUESTER=y

# Information about the host client
CONFIG_CLIENT_HOST_ENDPOINT="riot:client:0002"
CONFIG_CLIENT_HOST_URI="coap://[fe80::2491:56ff:fe33:4e45]" # port inferred from security mode when undefined
CONFIG_CLIENT_HOST_SHORT_ID=5
