# This client configuration, also used as endpointName
CONFIG_LWM2M_DEVICE_NAME="client_01"

# This is the requester client
CONFIG_CLIENT_TYPE_REQUESTER=y

# Information about the host client
CONFIG_CLIENT_HOST_ENDPOINT="client_02"

CONFIG_CLIENT_HOST_URI="coap://[2001:660:5307:3101:b870:d7ad:59b6:853a]"

CONFIG_CLIENT_HOST_SHORT_ID=5
