# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config CPU_MIPS_PIC32_COMMON
    bool
    default y
    select HAS_periph_cpuid
    select CPU_MIPS32R2_COMMON

source "$(RIOTCPU)/mips32r2_common/Kconfig"
