# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config HAS_hts221
    bool

menuconfig COMPONENT_hts221
    bool "ST HTS221 digital Humidity Sensor"
    default y if HAS_hts221 && SAUL_DEFAULT

