# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config HAS_enc28j60
    bool

menuconfig COMPONENT_enc28j60
    bool "ENC28J60"
    default y if HAS_enc28j60
    select HAS_HAS_NETDEV_ETHERNET

