# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config HAS_uart_half_duplex
    bool

menuconfig COMPONENT_uart_half_duplex
    bool "Half Duplex UART driver"
    default y if HAS_uart_half_duplex

