# security credentials to be used with the server
CONFIG_PSK_ID="Client_Identity2"
CONFIG_PSK_KEY="ThisIsRIOT!"

# Client 2 - host
CONFIG_CLIENT_TYPE_HOST=y

# This client configuration, also used as endpointName
CONFIG_LWM2M_DEVICE_NAME="riot:client:0002"

# URI of client 1
CONFIG_LWM2M_CLIENT_URI="coap://[fe80::7081:f6ff:fe7c:f496]" # port inferred from security mode when undefined
# endpoint name of client 1
CONFIG_LWM2M_CLIENT_ENDPOINT="riot:client:0001"
