# Copyright (c) 2022 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.
#

menuconfig MODULE_ZTIMER
    bool "ztimer - High level timer abstraction layer"

if MODULE_ZTIMER

menu "Clocks"

config MODULE_ZTIMER_USEC
    bool "Microseconds"
    depends on MODULE_ZTIMER_PERIPH_TIMER

config MODULE_ZTIMER_MSEC
    bool "Milliseconds"
    depends on MODULE_ZTIMER_PERIPH_RTT || MODULE_ZTIMER_PERIPH_TIMER

config MODULE_ZTIMER_SEC
    bool "Seconds"
    depends on MODULE_ZTIMER_PERIPH_RTC || MODULE_ZTIMER_PERIPH_RTT || MODULE_ZTIMER_PERIPH_TIMER

endmenu # Clocks

menu "Ztimer hardware backends"

config MODULE_ZTIMER_PERIPH_RTC
    bool "RTC peripheral"
    depends on MODULE_PERIPH_RTC

config MODULE_ZTIMER_PERIPH_RTT
    bool "RTT peripheral"
    depends on MODULE_PERIPH_RTT

config MODULE_ZTIMER_PERIPH_PTP
    bool "PTP peripheral"
    depends on MODULE_PERIPH_PTP_TIMER

config MODULE_ZTIMER_PERIPH_TIMER
    bool "Timer peripheral"
    depends on MODULE_PERIPH_TIMER

endmenu # Backends

endif # MODULE_ZTIMER
