# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config COMPONENT_cortexm_common
    bool

config COMPONENT_cortexm_common_periph
    bool

config CPU_CORTEXM_COMMON
    bool
    default y
    select HAS_arch_32bit
    select HAS_arch_arm
    select HAS_arch_cortexm
    select HAS_periph_pm
    select HAS_cpp
    select HAS_cpu_check_address
    select COMPONENT_periph
    select COMPONENT_cortexm_common
    select COMPONENT_cortexm_common_periph
    select COMPONENT_newlib
    select COMPONENT_newlib_nano
    select COMPONENT_newlib_syscalls_default
