# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config HAS_ds75lx
    bool

menuconfig COMPONENT_ds75lx
    bool "Maxim DS75LX temperature sensor"
    default y if HAS_ds75lx && SAUL_DEFAULT

