# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config HAS_qmc5883l
    bool

menuconfig COMPONENT_qmc5883l
    bool "QMC5883L 3-Axis Digital Magnetic Sensor"
    default y if HAS_qmc5883l && SAUL_DEFAULT

