config HAS_periph_rtc
    default y

config HAS_periph_timer
    default y

config HAS_periph_uart
    default y

config HAS_periph_gpio
    default y

config HAS_periph_pwm
    default y

config HAS_periph_qdec
    default y

config HAS_ethernet
    default y

config HAS_motor_driver
    default y

