/dts-v1/;
#include "stm32l152re.dtsi"

/ {
    cpus {
        #address-cells = <1>;
        #size-cells = <0>;
        cpu0: cpu@0 {
            reg = <0>;
        };
    };
};

&pinctrl {
    usart1_rx_a_10_tx_a_9: usart1-rx-a-10-tx-a-9 {
        rx = <&gpioa 10 7>;
        tx = <&gpioa 9 7>;
    };
};

&usart1 {
    status = "okay";
    pinctrl = <&usart1_rx_a_10_tx_a_9>;
};
