# Copyright (c) 2020 HAW Hamburg
#
# This file is subject to the terms and conditions of the GNU Lesser
# General Public License v2.1. See the file LICENSE in the top level
# directory for more details.

config HAS_ds1307
    bool

menuconfig COMPONENT_ds1307
    bool "DS1307 RTC"
    default y if HAS_ds1307

